<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginval</servlet-name>
        <servlet-class>loginval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requesthandle</servlet-name>
        <servlet-class>requesthandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginval</servlet-name>
        <url-pattern>/loginval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requesthandle</servlet-name>
        <url-pattern>/requesthandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
